@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500&display=swap');

$green: #B9FF66;
$dark: #191A23;
$dark_second: #292A32;
$light: #F3F3F3;
$gray: #898989;

@mixin cards_sec_2($bg_c, $h_bg_c, $a_c) {
  background-color: $bg_c;
  
  h3 {
    background-color: $h_bg_c;
    font-size: 30px;
    font-weight: 500;
    padding: 0px 7px;
    border-radius: 7px;
    width: fit-content;
  }

  a {
    color: $a_c;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Grotesk';
  color: black;
}

body {
  margin: 0 auto;
  max-width: 1240px;
}

ul {
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  padding: 0 7px;
  background-color: $green;
  font-size: 40px;
  border-radius: 7px;
  width: fit-content;
  font-weight: 500;
}

.main_header {
  margin-top: 66px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.header_logo {
  width: 220px;
  padding: 15px 0;
  height: auto;
}

.nav_links {
  display: flex;
  font-size: 20px;
  gap: 40px;
  align-items: center;

  button {
    font-size: 20px;
    padding: 20px 35px;
    border: 1px solid $dark;
    border-radius: 14px;
  }
}

.section_1_text {
  display: grid;
  grid-template-columns: 530px 600px;
  grid-template-rows: 231px 112px 108px;
  justify-content: space-between;
  gap: 35px;
  margin-bottom: 70px;

  img {
    grid-row: 1/4;
    grid-column: 2;
  }

  h1 {
    font-size: 60px;
    font-weight: 500;
  }

  p {
    font-size: 20px;
    line-height: 28px;
  }

  button {
    padding: 20px 35px;
    background-color: $dark;
    color: white;
    border-radius: 14px;
    font-size: 20px;
    width: 264px;
    margin-bottom: 40px;
  }
}

.logos {
  display: flex;
  justify-content: space-between;
  margin-bottom: 140px;
}

.section_2_header {
  display: flex;
  gap: 40px;
  margin-bottom: 85px;

  p {
    font-size: 18px;
    width: 580px;
  }
}

.section_2_main {
  margin-bottom: 100px;
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(2, 600px);
  grid-template-rows: repeat(3, 310px);

  .article_sec_2 {
    padding: 50px;
    display: grid;
    grid-template-columns: 221px 210px;
    justify-content: space-between;
    border-radius: 45px;
    border: 1px solid $dark;
    box-shadow: 0px 5px 0px 0px $dark;
    align-items: flex-start;

    h3 {
      grid-column: 1;
      grid-row: 1;
      &:nth-child(2n) {
        grid-row: 1;
        margin-top: 37.5px;
      }

    }

    a {
      grid-column: 1;
      grid-row: 3;
      align-self: flex-end;
      display: flex;
      align-items: center;

      img {
        margin-right: 15px;
      }
    }

    img {
      grid-column: 2;
      grid-row: 1/4;
      align-self: center;
    }

    &:nth-child(3n) {
      @include cards_sec_2($dark, white, white)
    }

    &:nth-child(6n) {
      @include cards_sec_2($dark, $green, white)
    }

    &:nth-child(3n - 2) {
      @include cards_sec_2($light, $green, black)
    }

    &:nth-child(3n - 1) {
      @include cards_sec_2($green, #FFF, black)
    }
  }
}

.section_3 {
  padding: 0 60px;
  background-color: $light;
  border-radius: 45px;
  display: grid;
  grid-template-columns: 500px 394px;
  height: 347px;
  justify-content: space-between;
  margin-bottom: 140px;

  h2 {
    background-color: transparent;
    font-size: 30px;
    font-weight: 500;
    grid-column: 1;
    align-self: flex-end;
  }

  p {
    grid-column: 1;
    align-self: center;
    font-size: 18px;
  }

  button {
    grid-column: 1;
    border-radius: 14px;
    background-color: $dark;
    padding: 20px 35px;
    color: white;
    font-size: 20px;
    line-height: 28px;
    align-self: flex-start;
    width: fit-content;
  }

  img {
    grid-column: 2;
    grid-row: 1/4;
    margin-top: -23.5px;
    margin-left: -75px;
  }
}

.section_4 {
  header {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 80px;

    p {
      width: 580px;
      font-size: 18px;
    }
  }

  section {
    display: flex;
    padding: 70px 60px;
    border-radius: 45px;
    background-color: $dark;
    margin-bottom: 140px;

    article {
      width: 286px + 64px;
      padding-right: 64px;
      border-right: 1px solid white;
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding-bottom: 20px;

      &:nth-child(2n) {
        padding-left: 64px;
        width: 286px + 128px;
      }

      &:last-child {
        padding-right: 0;
        padding-left: 64px;
        border: none;
      }

      p {
        color: white;
        font-size: 18px;
      }

      a {
        color: $green;
        display: flex;
        gap: 15px;
        font-size: 20px;
      }
    }
  }
}

.section_6 {
  margin-bottom: 140px;
  header {
    display: flex;
    gap: 40px;
    margin-bottom: 80px;

    p {
      font-size: 18px;
      width: 292px;
    }
  }

  section {

    display: flex;
    flex-direction: column;
    gap: 30px;

    article {
      border-radius: 45px;
      border: 1px solid $dark;
      box-shadow: 0px 5px 0px 0px $dark;
      padding: 41px 60px;

      &:first-child {
        background-color: $green;
        display: grid;
        grid-template-rows: 107px 90px;

        h3 {
          grid-row: 1;
          grid-column: 1;
          margin-left: 90px;
          align-self: center;
          padding-bottom: 30px;
        }

        button {
          grid-row: 1;
          justify-self: flex-end;
          align-self: center;
          margin-bottom: 30px;
        }

        p {
          grid-row: 2;
          // grid-column: 1/5;
          font-size: 18px;
          padding-top: 30px;
          border-top: 1px solid $dark;
          grid-column: 1/3;

          &:first-child {
            grid-row: 1;
            grid-column: 1;
            font-size: 60px;
            font-weight: 500;
            padding-bottom: 30px;
            padding-top: 0;
            border: none;
          }
        }
      }

      display: flex;
      align-items: center;
      gap: 25px;

      button {
        border: 1px solid $dark;
        border-radius: 100%;
        background-color: $light;
        width: 58px;
        height: 58px;
        align-self: center;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
        margin-left: auto;
      }
      
      p {
        font-size: 60px;
        font-weight: 500;
      }

      h3 {
        font-weight: 500;
        font-size: 30px;
      }
    }
  }
}

.section_7 {
  display: flex;
  flex-direction: column;

  header {
    display: flex;
    gap: 40px;
    margin-bottom: 80px;

    p {
      font-size: 18px;
      width: 473px;
    }
  }

  button {
    background-color: $dark;
    border-radius: 14px;
    padding: 20px 35px;
    margin-top: 40px;
    color: white;
    line-height: 28px;
    font-size: 20px;
    width: 269px;
    align-self: flex-end;
  }

  section {
    display: grid;
    grid-template-columns: repeat(3, 387px);
    gap: 40px;
    
    article {
      border-radius: 45px;
      border: 1px solid $dark;
      box-shadow: 0px 5px 0px 0px $dark;
      padding: 40px 35px;
      display: grid;
      grid-template-columns: 125px;
      grid-template-rows: 54px 26px 51px;
      
      img {
        grid-column: 1;
        grid-row: 1/4;
        // padding-bottom: 28px;
        padding-right: 20px;
      }

      h3 {
        grid-column: 2/4;
        grid-row: 2;
        align-self: flex-end;
        font-weight: 500;
        font-size: 20px;
      }

      p {
        grid-row: 4;
        grid-column: 1/4;
        padding-top: 28px;
        padding-bottom: 20px;
        border-top: 1px solid black;

        &:first-of-type {
          border: none;
          padding: 0;
          grid-column: 2/4;
          grid-row: 3;
          align-self: flex-start;
        }
      }

      a {
        grid-column: 3;
        grid-row: 1;
        justify-self: flex-end;

        img {
          width: 34px;
          padding: 0;
        }
      }
    }
  }
}

.section_8 {
  margin-top: 100px;

  header {
    display: flex;
    gap: 40px;
    margin-bottom: 80px;

    p {
      font-size: 18px;
      width: 473px;
    }
  }

  section {
    background-color: $dark;
    border-radius: 45px;
    padding: 84px 0px 68px 0px;
    display: flex;
    flex-direction: column;
    background-image: url('../img/Bubble.svg');
    background-repeat: no-repeat;
    background-position-y: 84px;
    background-position-x: 320px;

    article {
      color: white;
      font-size: 18px;
      padding: 48px 52px 52px 52px;
      width: 606px;
      height: 240px;
      align-self: center;
    }

    h3 {
      color: $green;
      font-size: 20px;
      font-weight: 500;
      margin-top: 50px;
      margin-left: 400px;
    }

    p {
      color: white;
      font-size: 18px;
      margin-left: 400px;
    }

    nav {
      align-self: center;
      margin-top: 124px;
      display: flex;
      justify-content: space-between;
      width: 564px;
    }
  }
}

.section_9 {
  margin-top: 140px;

  header {
    display: flex;
    gap: 40px;
    margin-bottom: 80px;

    p {
      font-size: 18px;
      width: 323px;
    }
  }

  form {
    padding: 60px 100px 80px 100px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: flex-start;
    background-image: url(../img/section9_ill.svg);
    background-repeat: no-repeat;
    background-position-x: 785px;
    background-position-y: 100px;
    background-size: 50%;

    label {
      font-size: 16px;
      font-weight: 400;
    }

    .radio {
      display: flex;
      gap: 35px;

      .custom_radio {
        position: absolute;
        z-index: -1;
        opacity: 0;
      }
  
      .custom_r_label {
        font-size: 18px;
      }
  
      .custom_radio+.custom_r_label {
        display: inline-flex;
        align-items: center;
        user-select: none;
  
        &::before {
          content: '';
          display: inline-block;
          width: 28px;
          height: 28px;
          border: 1px solid black;
          border-radius: 1px;
          border-radius: 100%;
          margin-right: 14px;
        }
      }
  
      .custom_radio:checked+.custom_r_label::before {
        background-image: url(../img/radio.svg);
        background-position: center center;
      }
    }

    .input_text {
      width: 556px;
      padding: 18px 30px;
      border-radius: 14px;
      border: 1px solid #000;
      outline: none;
      font-size: 18px;
      font-weight: 400;

      &::placeholder {
        color: $gray
      }
    }

    button {
      width: 556px;
      padding: 20px 35px;
      background-color: $dark;
      color: white;
      border-radius: 14px;
    }
  }
}

footer {
  padding: 55px 60px 50px 60px;
  border-radius: 45px 45px 0px 0px;
  margin-top: 140px;
  background-color: $dark;
  display: grid;

  nav {
    grid-row: 1;
    grid-column: 1/3;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      height: 29px;
    }
  
    ul {
      display: flex;
      gap: 20px;

      &:first-of-type {
        gap: 40px;
      }

      a {
        color: white;
        text-decoration: underline;
        font-size: 18px;
        font-weight: 400;
      }
    }
  }

  article {
    margin-top: 66px;
    margin-bottom: 50px;
    grid-row: 2;

    h3 {
      font-size: 20px;
      font-weight: 500;
      padding: 0px 7px;
      background-color: $green;
      border-radius: 7px;
      width: fit-content;
      margin-bottom: 27px;
    }

    p {
      color: white;
      margin-bottom: 20px;

      &:last-of-type {
        max-width: 332px;
        margin-bottom: 0;
      }
    }
  }

  form {
    margin-top: 66px;
    margin-bottom: 50px;
    grid-row: 2;
    padding: 58px 40px;
    background-color: $dark_second;
    display: flex;
    gap: 20px;
    border-radius: 14px;
    justify-content: center;

    input {
      width: 285px;
      padding: 22px 35px;
      border-radius: 14px;
      border: 1px solid #FFF;
      color: white;
      font-size: 18px;
      font-weight: 400;
      background-color: $dark_second;
    }

    button {
      padding: 20px 35px;
      border-radius: 14px;
      background-color: $green;
      font-weight: 400;
      line-height: 28px;
      font-size: 20px;
    }
  }

  section {
    grid-row: 3;
    grid-column: 1/3;
    padding-top: 50px;
    border-top: 1px solid white;
    display: flex;
    gap: 40px;

    p {
      color: white;
      font-size: 18px;
      line-height: 28px;
    }

    a {
      color: white;
      font-size: 18px;
      line-height: 28px;
      text-decoration: underline;
    }
  }
}